h1 {
  color: white;
}
p {
  color: white;
}
.Header-container {
  display:flex;
}
.Container-text {
  margin-left: 100px;
  margin-top: 40px;
}
.App-image {
  height: 150px;
  width: 150px;
  margin-top: 22px;
  margin-bottom: 22px;
  margin-left: auto;
  margin-right: 100px;
  border-radius: 500px ;
}

.App-header {
  background-color: #282c34;
  min-height:auto;
}
.App-body {
  background-color: #282c34;
}
.Horizontal-line {
  border-top: 3px solid rgb(63, 103, 149);
  width:auto;
  margin-bottom: 10px;
}
.Job-container {
  min-height: 495px;
}
